@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .wallet {
    background-image: linear-gradient(
      to right,
      #fd368f -49.58%,
      #f8a745 149.33%
    );
  }
  ::-webkit-scrollbar {
    width: 12px;
    max-height: 8px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background-color: #d1d5db;
  }
  /* ... */
  .hidden-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
